{lib_dirs, ["src", "deps"]}.

{erl_opts, [
            %% bin_opt_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash,
            %% warn_missing_spec,
            warn_untyped_record]}.
{deps, [
    {sc, ".*", {git, "git://github.com/StoneCypher/scutil.github.com.git",
            {branch, "master"}}}
]}.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, true}.

{edoc_opts, [
    { application, htstub },
    { new, true },
    { source_path, [ "src" ]},
    { subpackages, false }
]}.

{cover_enabled, false}.
